# Explotary Data Analysis

### importing all the neede Libaries

In [55]:
import pandas as pd
import numpy as np

### variables

In [ ]:
cleaned_data_path = 'data/cleaned_data.csv'

In [56]:
df = pd.read_csv('../data/Medical_insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [61]:
df.describe()

               age          bmi     children       charges
count  2772.000000  2772.000000  2772.000000   2772.000000
mean     39.109668    30.701349     1.101732  13261.369959
std      14.081459     6.129449     1.214806  12151.768945
min      18.000000    15.960000     0.000000   1121.873900
25%      26.000000    26.220000     0.000000   4687.797000
50%      39.000000    30.447500     1.000000   9333.014350
75%      51.000000    34.770000     2.000000  16577.779500
max      64.000000    53.130000     5.000000  63770.428010

In [58]:
df.describe(include='all')

,age,sex,bmi,children,smoker,region,charges
count,2772.000000,2772,2772.000000,2772.000000,2772,2772,2772.000000
unique,NaN,2,NaN,NaN,2,4,NaN
top,NaN,male,NaN,NaN,no,southeast,NaN
freq,NaN,1406,NaN,NaN,2208,766,NaN
mean,39.109668,NaN,30.701349,1.101732,NaN,NaN,13261.369959
std,14.081459,NaN,6.129449,1.214806,NaN,NaN,12151.768945
min,18.000000,NaN,15.960000,0.000000,NaN,NaN,1121.873900
25%,26.000000,NaN,26.220000,0.000000,NaN,NaN,4687.797000
50%,39.000000,NaN,30.447500,1.000000,NaN,NaN,9333.014350
75%,51.000000,NaN,34.770000,2.000000,NaN,NaN,16577.779500
max,64.000000,NaN,53.130000,5.000000,NaN,NaN,63770.428010

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2772 entries, 0 to 2771
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       2772 non-null   int64
 1   sex       2772 non-null   object
 2   bmi       2772 non-null   float64
 3   children  2772 non-null   int64
 4   smoker    2772 non-null   object
 5   region    2772 non-null   object
 6   charges   2772 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 151.7+ KB

### Counting the Null values

In [60]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

#### this is a kaggle data visualization to put in our considuration

![image.png](../images/DataSet_visulatisations.png)

### Data Fields Explained

| Column Name  | Description                                                                            |
| ------------ | -------------------------------------------------------------------------------------- |
| **age**      | Age of the person                                                                      |
| **sex**      | Gender (`male` or `female`)                                                            |
| **bmi**      | Body Mass Index (a measure of body fat)                                                |
| **children** | Number of children the person has                                                      |
| **smoker**   | Whether the person is a smoker (`yes` or `no`)                                         |
| **region**   | The region where the person lives (`southwest`, `southeast`, `northwest`, `northeast`) |
| **charges**  | The **insurance cost** (this is the **target variable** to predict)                    |                   |