# Explotary Data Analysis

### importing all the neede Libaries

In [312]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math

#### constants

In [313]:
cleaned_data_path = '../data/cleaned_data.csv'

## Loading the Data Set

In [314]:
df = pd.read_csv('../data/Medical_insurance.csv')
headers = ["age", "gender", "bmi", "no_of_children", "smoker", "region", "charges"]
df.columns = headers
df.head()

   age  gender     bmi  no_of_children smoker     region      charges
0   19  female  27.900               0    yes  southwest  16884.92400
1   18    male  33.770               1     no  southeast   1725.55230
2   28    male  33.000               3     no  southeast   4449.46200
3   33    male  22.705               0     no  northwest  21984.47061
4   32    male  28.880               0     no  northwest   3866.85520

In [315]:
df.describe()

               age          bmi  no_of_children       charges
count  2772.000000  2772.000000     2772.000000   2772.000000
mean     39.109668    30.701349        1.101732  13261.369959
std      14.081459     6.129449        1.214806  12151.768945
min      18.000000    15.960000        0.000000   1121.873900
25%      26.000000    26.220000        0.000000   4687.797000
50%      39.000000    30.447500        1.000000   9333.014350
75%      51.000000    34.770000        2.000000  16577.779500
max      64.000000    53.130000        5.000000  63770.428010

In [316]:
df.describe(include='all')

,age,gender,bmi,no_of_children,smoker,region,charges
count,2772.000000,2772,2772.000000,2772.000000,2772,2772,2772.000000
unique,NaN,2,NaN,NaN,2,4,NaN
top,NaN,male,NaN,NaN,no,southeast,NaN
freq,NaN,1406,NaN,NaN,2208,766,NaN
mean,39.109668,NaN,30.701349,1.101732,NaN,NaN,13261.369959
std,14.081459,NaN,6.129449,1.214806,NaN,NaN,12151.768945
min,18.000000,NaN,15.960000,0.000000,NaN,NaN,1121.873900
25%,26.000000,NaN,26.220000,0.000000,NaN,NaN,4687.797000
50%,39.000000,NaN,30.447500,1.000000,NaN,NaN,9333.014350
75%,51.000000,NaN,34.770000,2.000000,NaN,NaN,16577.779500
max,64.000000,NaN,53.130000,5.000000,NaN,NaN,63770.428010

In [317]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2772 entries, 0 to 2771
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             2772 non-null   int64
 1   gender          2772 non-null   object
 2   bmi             2772 non-null   float64
 3   no_of_children  2772 non-null   int64
 4   smoker          2772 non-null   object
 5   region          2772 non-null   object
 6   charges         2772 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 151.7+ KB

## Data Understanding

### Data Fields Explained

| Parameter |Description| Content type |
|---|----|---|
|age| Age in years| integer |
|gender| Male or Female|integer (1 or 2)|
| bmi | Body mass index | float |
|children| Number of children | integer|
|smoker| Whether smoker or not | integer (0 or 1)|
|region| Which US region - NW, NE, SW, SE | integer (1,2,3 or 4 respectively)| 
|charges| Annual Insurance charges in USD | float|

![image.png](../images/DataSet_Params.png)

![image.png](../images/DataSet_visulatisations.png)

# Data Wrangling

#### Clean the data , taking care of the blank entries

In [318]:
df.isnull().sum()

age               0
gender            0
bmi               0
no_of_children    0
smoker            0
region            0
charges           0
dtype: int64

#### Handling Messing Data

 replace missing/? with NaN

In [319]:
df.replace("?",np.nan, inplace = True)
df.replace("",np.nan, inplace = True)
df.replace(" ",np.nan, inplace = True)
df.replace("nan",np.nan, inplace = True)
df.replace("NAN",np.nan, inplace = True)
df.replace("na",np.nan, inplace = True)
df.replace("NA",np.nan, inplace = True)
df.replace("Na",np.nan, inplace = True)
df.replace("n/a",np.nan, inplace = True)
df.replace("N/A",np.nan, inplace = True)
df.replace("N.a",np.nan, inplace = True)
print(df.isna().sum())


print("__________________________")
# Replace blank spaces ("") or only-space strings with NaN
test = df.replace(r'^\s*$', np.nan, regex=True)
# comparing with the original data
comparison = df.equals(test)
print("DataFrames are equal: ", comparison)

age               0
gender            0
bmi               0
no_of_children    0
smoker            0
region            0
charges           0
dtype: int64
__________________________
DataFrames are equal:  True

##### For continuous attributes (e.g., age), replace missing values with the mean.

In [320]:
mean_age = math.floor(df['age'].mean())  
mean_bmi = df['bmi'].mean()
mean_children = math.floor(df['no_of_children'].mean())
mean_charges = df['no_of_children'].mean()
print('Mean Age: ', mean_age)
print('Mean BMI: ', mean_bmi)
print('Mean Children: ', mean_children)
print('Mean Charges: ', mean_charges)

Mean Age:  39
Mean BMI:  30.70134920634921
Mean Children:  1
Mean Charges:  1.1017316017316017

##### For categorical attributes (e.g., smoker), replace missing values with the most frequent value.

In [321]:
most_freq_region = df['region'].mode()[0]
most_freq_smoker = df['smoker'].mode()[0]
most_freq_gender = df['gender'].mode()[0]
print('Most Frequent Region: ', most_freq_region)
print('Most Frequent Smoker: ', most_freq_smoker)
print('Most Frequent gender: ', most_freq_gender)

Most Frequent Region:  southeast
Most Frequent Smoker:  no
Most Frequent gender:  male

In [322]:
prev_shape = df.shape
df.fillna({
      'age': mean_age,
      'bmi': mean_bmi,
      'no_of_children': mean_children,
      'charges': mean_charges,
      'region': most_freq_region,
      'smoker': most_freq_smoker,
      'gender': most_freq_gender
  }, inplace=True)
print("After cleaning the data")
print(df.info())
print("__________________________")
print("sum of nan values : ",df.isna().sum())
print("testing shapes : ",df.shape == prev_shape)
# conclusion : no nan values in the data

After cleaning the data
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2772 entries, 0 to 2771
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             2772 non-null   int64
 1   gender          2772 non-null   object
 2   bmi             2772 non-null   float64
 3   no_of_children  2772 non-null   int64
 4   smoker          2772 non-null   object
 5   region          2772 non-null   object
 6   charges         2772 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 151.7+ KB
None
__________________________
sum of nan values :  age               0
gender            0
bmi               0
no_of_children    0
smoker            0
region            0
charges           0
dtype: int64
testing shapes :  True

 Update the `charges` column such that all values are rounded to nearest 2 decimal places. Verify conversion by printing the first 5 values of the updated dataframe.

In [323]:
df[["charges"]] = np.round(df[["charges"]],2)
print(df.head())

   age  gender     bmi  no_of_children smoker     region   charges
0   19  female  27.900               0    yes  southwest  16884.92
1   18    male  33.770               1     no  southeast   1725.55
2   28    male  33.000               3     no  southeast   4449.46
3   33    male  22.705               0     no  northwest  21984.47
4   32    male  28.880               0     no  northwest   3866.86

In [324]:
df.to_csv(cleaned_data_path, index=False)

## Explotary Data Analysis