# Explotary Data Analysis

### importing all the neede Libaries

In [353]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math

#### constants

In [354]:
cleaned_data_path = '../data/cleaned_data.csv'

## Loading the Data Set

In [355]:
df = pd.read_csv(cleaned_data_path)
df.head()

   age  gender     bmi  no_of_children smoker     region      charges
0   19  female  27.900               0    yes  southwest  16884.92400
1   18    male  33.770               1     no  southeast   1725.55230
2   28    male  33.000               3     no  southeast   4449.46200
3   33    male  22.705               0     no  northwest  21984.47061
4   32    male  28.880               0     no  northwest   3866.85520